*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #333;
  color: #f4f4f4;
}

#marquee, #menu {
  position: fixed;
  width: 100vw;
  /* height: 10vh; */
  min-height: 50px;
  background: #000;
  z-index: 9999;
  display: flex;
  align-items: baseline;
  padding: 1em;
}

#marquee {
  top: 0;
  left: 0;
}

#menu {
  bottom: 0;
  left: 0;
}