:root {

  /* COLOR PALETTE

      #f4f4f4 - white
      #000000 - black
      #333333 - dark grey
      #7B7B7B - minesweeper grey
      #1E5128 - green
      #D8E9A8 - light green
      #6E5341 - brown
      #136d15 - dark grass green
      #138510 - lighter grass green
      #41980a - lightest grass green
  
  */

  --body-background: #333;
  --body-text: #000000;
  --aside-text: #f4f4f4;
  --aside-background: #000000;

  --cell-background: #C0C0C0;
  --cell-background-hover: #D8E9A8;
  --cell-all-borders: #f4f4f4;
  --cell-br-borders: #7B7B7B;
  --cell-tl-borders: #ffffff;
  --cell-dirt: #6E5341;
  --cell-number-revealed-background: #807676;
  --cell-number-revealed-text: #f4f4f4;

}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text);
  background: var(--cell-background);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body,
#marquee-container,
#footer-container {
  max-width: 768px;
}

select, button {
  /* appearance: none; */
  background-color: transparent;
  border: none;
  /* padding: 0 1em 0 0; */
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

#menu-button,
select,
button {
  cursor: pointer;
}

#marquee,
footer {
  position: fixed;
  width: 100vw;
  background: var(--aside-background);
  color: var(--aside-text);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#marquee {
  top: 0;
  left: 0;
  height: 10vh;
  min-height: 70px;
  padding: 0 1.5rem;

}


#marquee-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

#marquee h1 {
  font-size: 1.5rem;
  line-height: 1em;
  padding-right: 0;
  min-width: 90px;
}

#top-stats {
  width: 70%;
  max-width: 170px;
  display: flex;
  justify-content: space-between;
}

.stats span {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* GAME GRID STYLES */

#game-grid {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--cell-tl-borders);
  border-left: 1px solid var(--cell-tl-borders);
  border-right: 2px solid var(--cell-br-borders);
  border-bottom: 2px solid var(--cell-br-borders);
  background-color: var(--cell-background);
}

.cell:hover, cursor {
  cursor: crosshair;
}

.cell.empty.revealed {
  background-color: var(--cell-dirt);
  border: none;
  transition: background-color 0.25s ease;
}

.cell.mine.exploded {
  border: none;
  transition: background-color 0.25s ease;
}

.cell.flagged {
  background: url(../assets/cone.png) no-repeat center center;
  background-size: 60%;
  border: none;
  transition: background-color 0.25s ease;
}

.cell.number.revealed {
  background-color: var(--cell-number-revealed-background);  
  color: var(--cell-number-revealed-text);
  border-top: none;
  border-left: none;
  border-right: var(--cell-all-borders);
  border-bottom: var(--cell-all-borders);
}

#orientation-warning {
  display: none;
}

#grid-cover {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 9999;
  display: none;
}

.in-game-message {
  position: fixed;
  width: 80vw;
  max-width: 330px;
  border-radius: .25rem;
  padding: 50px;
  z-index: 9999;
  background-color: rgba(51, 51, 51, 0.9);
  display: flex;
  display: none;
}

.in-game-message p {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--aside-text);
  text-align: center;
  margin: 0 auto 1rem;
}

.mines-match-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.mines-match-buttons button {
  background: #f4f4f4;
  color: #000;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 0 auto;
}

.mines-match-buttons button:nth-of-type(2) {
  margin-left: 1rem;
}


/* FOOTER */ /* CONTEXT OPTIONS MENU ITEMS */

footer {
  bottom: 0;
  left: 0;
}

.context-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 220px;
  height: 70px;
}

.context-options > * {
  border-right: 1px solid var(--aside-background);
  color: var(--aside-text);
  background: var(--aside-background);
  cursor:pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  border-right: 1px solid var(--cell-background);
}

.context-options > * :last-child {
  border-right: none;
}

.context-options div, 
.context-options select, 
#new-game-button {
  width: 33.33%;
  min-width: 55px;
}

ul#difficulty {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#difficulty li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#undo, #check-board, #end-game, #pause-game {
  width: 25%;
  min-width: 55px;
}

.context-options i {
  font-size: 1.75rem;
}



/*  End Context Options Menu */


@media only screen and (max-width: 360px) {

  .context-options div {
    font-size: .9rem;
  }

}



@media only screen and (min-width: 360px) {
  #marquee h1 {
    font-size: 1.75rem;
    line-height: 1em;
  }
  #top-stats {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}
}


@media only screen and (orientation: landscape) and (max-width: 1280px) {
  #orientation-warning {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--aside-text);
    background-color: var(--aside-background);
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  #orientation-warning p {
    width: 50%;
    text-align: center;
  }
}