:root {

  /* COLOR PALETTE

      #f4f4f4 - white
      #000000 - black
      #333333 - dark grey
      #7B7B7B - minesweeper grey
      #1E5128 - green
      #D8E9A8 - light green
      #6E5341 - brown
      #136d15 - dark grass green
      #138510 - lighter grass green
      #41980a - lightest grass green
  
  */

  --body-background: #333;
  --body-text: #000000;
  --aside-text: #f4f4f4;
  --aside-background: #000000;

  --cell-background: #C0C0C0;
  --cell-background-hover: #D8E9A8;
  --cell-all-borders: #f4f4f4;
  --cell-br-borders: #7B7B7B;
  --cell-tl-borders: #ffffff;
  --cell-dirt: #6E5341;

}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text);
  background: var(--cell-background);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body,
#marquee-container,
#footer-container {
  max-width: 768px;
  /* min-width: 320px; */
}

#hamburger,
select,
button {
  cursor: pointer;
}

#marquee,
footer {
  position: fixed;
  width: 100vw;
  background: var(--aside-background);
  color: var(--aside-text);
  z-index: 9999;
  display: flex;
  padding: 0 1.5rem;
  height: 10vh;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
}

#marquee {
  top: 0;
  left: 0;
}

footer {
  bottom: 0;
  left: 0;
}

#marquee-container,
#footer-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
}

#marquee h1 {
  width: 50%;
  line-height: 1.5rem;
}

#top-stats {
  width: 30%;
  max-width: 200px;
  min-width: 125px;
  display: flex;
  justify-content: space-between;
}

#top-stats span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger {
  padding: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #f4f4f4;
  margin-top: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #f4f4f4;
}

#menu {
  position: fixed;
  bottom: 10vh;
  left: 0;
  width: 100vw;
  background: var(--aside-background);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

#menu a {
  color: var(--aside-text);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
  width: 100vw;
  display: block;
  transition: all 0.3s ease;
}

#menu a:hover,
#menu a:focus,
#menu a:active {
  background: #f4f4f4;
  color: #000;
  height: 75%;
}

#undo-button {
  font-size: 1.75rem;
}

form#difficulty-form {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 60px;

}

select#difficulty,
button#new-game-button {
  background: #f4f4f4;
  color: #000;
  border: none;
  height: 10vh;
  min-height: 70px;
  width: 100px;
  font-size: 1rem;
  font-weight: 400;
}

select#difficulty {
  width: 150px;
  padding: 1rem .75rem;
  margin-right: 1rem;
  border-right: 1px solid #000;
  /* border-radius: 0.25rem; */
}

button#new-game-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;

}

/* GAME GRID STYLES */

#game-grid {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.cell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid var(--cell-tl-borders);
  border-left: 1px solid var(--cell-tl-borders);
  border-right: 2px solid var(--cell-br-borders);
  border-bottom: 2px solid var(--cell-br-borders);
  background-color: var(--cell-background);
}

.cell:hover, cursor {
  cursor: crosshair;
}

.cell.empty.revealed {
  background-color: var(--cell-dirt);
  border: none;
  transition: background-color 0.25s ease;
}

.cell.mine.exploded {
  /* background-color: var(--body-background); */
  border: none;
  transition: background-color 0.25s ease;
}

.cell.flagged {
  background: url(../assets/cone.png) no-repeat center center;
  background-size: 60%;
  border: none;
  transition: background-color 0.25s ease;
}

#orientation-warning {
  display: none;
}

#grid-cover {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 9999;
  display: none;
}


@media only screen and (orientation: landscape) and (max-width: 1280px) {
  #orientation-warning {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--aside-text);
    background-color: var(--aside-background);
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  #orientation-warning p {
    width: 50%;
    text-align: center;
  }
}